*{
  margin:0;
}
body{
  background-color: #eee;
  font-family: 'Lato', sans-serif;
}
#header{
  /* height:80px; */
  /* display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  position:fixed; */
  position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;

}
#header-img{
  width:180px;
  height:70px;
}
nav > ul{
  display:flex;
  list-style:none;
  
}
li{
  padding:20px;
  text-decoration:none;
  
}
a{
  text-decoration:none;
}
.hero form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  margin:0 auto;
  padding:0 100px;
  margin:20px;
}
h3{
  text-align:center;
}
#email{
  width:300px;
  padding:3px;
  margin:15px;
}
#submit{
  background-color:#f1c40f;
  border:none;
  font-size:16px;
  font-weight:bold;
  padding: 5px 16px;
  
}
#container{
  margin:0 auto;
  justify-content:center;
  align-items:center;
  max-width:1000px;
  text-align:left;
}
#features{
  display:flex;
  /* flex-direction:row; */
  
  align-items:center;
  margin:0 auto;
  padding:0 10px;
  margin:40px 0;
  width:100%;
  justify-content:space-between;
}
#icon{
  color:orange;
  width:10%;
}
#content{
  width:100%;
}
h2{
  font-size:20px;
  
}
#how_it_works{
  display:flex;
  justify-content:center;
  align-items:center;
  margin:60px;
  
}
#pricing{
  display:flex;
  justify-content:center;
  align-items:center;
}
#product{
  height:306px;
  width:311px;
  border:1px solid black;
  margin:10px;
  text-align:center;

  /* anotherstyle */
    

}
.heading{  background-color:#ddd;
  text-align:center;
  padding:10px;
}
h2{
  text-align:center;
  padding:20px;
}
ul{
  justify-content:center;
  align-items:center;
  margin: 15px 0;
}
ul li,#product p{
  padding:8px;
  list-style:none;
  text-align:center;
}
button{
  background-color:#f1c40f;
  border:none;
  padding:8px 12px;
  margin-top:10px;
}
.product > ul {
    margin: 15px 0;
}
#footer{
  margin-top:20px;
  background-color:#ddd;
  display: flex;
  flex-direction:column;
    justify-content:center;
    margin: 0 auto;
    /* padding: 20px; */
    color: white;
    font-size: 14px;
    max-width:1000px;
    margin-top:20px;
    color:black;
    padding-bottom:10px;
}
#footer ul{
  display:flex;
  justify-content:flex-end;
  margin:10px;
  margin-bottom:0;
}
#footer p{
  display:flex;
  justify-content:flex-end;
  margin: 10px;
}

@media (max-width: 768px) {
  .header {
    flex-direction: column;
    padding: 10px;
  }

  nav > ul {
    flex-direction: column;
    align-items: center;
  }

  .hero form {
    padding: 0 20px;
  }

  #features, #how_it_works, #pricing {
    flex-direction: column;
    padding: 0;
  }

  #product {
    width: 100%;
  }
}
